<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/kaznau.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
    <title>КазНАУ</title>
</head>
<body class="bod"> 
   <header class="headerr">
      
      <img class="odinn" src="{% static 'images/logotype.png' %}" >
      <div class="containerr">
            
         <div class="logos__type">
            <div class="header__logo">
               <a class="sdelai" href="/">Сделай правильный выбор</a>
            </div>
         </div>     
      </div>    
     
      
   </header>
   <img class="logou" src="{% static 'images/kaznau.jpg' %}" >
   <div class="u__name">Казахский национальный аграрный университет</div>
   <div class="u__line"></div>
   <div class="u__nameonew">
      <div class="uodin">Университет выпустил более 130 тысяч специалистов</div>
      <div class="udva">Тип ВУЗа: <p class="oio">Университет</p></div>
   </div>
   
   <div class="u__nameoneo">
      <div class="uodin">Есть 7 научно-исследовательских институтов, 31 лабораторий, 5 инновационных центров</div>
      <div class="udva">Есть общежитие, военная кафедра</div>
   </div>
   <div class="u__center">
      
      <div class="u__centerbbaa">Вся информация несёт информативный характер!</div>
   </div>
   <div class="niz">      
      <a href="http://www.kaznau.kz" class="hyper">kaznau.kz</a>
      <a href="/kaznau_first/" class="grants">Гранты 2022</a>

   
   </div>
   

   <footer class="u__foot">
      <div class="comu">
      <div class="lin"></div>
      <div class="fon"><p class="fonp">Все права защищены.</p> <p class="fonp">Best Choise - информационно-справочный портал для абитуриентов.</p><p class="fonp">Обратная связь: BestChoiseKZ@mail.ru</p> <p class="fonp">©2023 BC</p> </div>
      <img class="logot" src="{% static 'images/logotype.png' %}" >
      <div class="endlogo">Сделай правильный выбор</div>
      </div>
   </footer>