<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/kaznau.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
    <title>B079</title>
</head>
<body class="bod"> 
   <header class="headerr">
      
      <img class="odinn" src="{% static 'images/logotype.png' %}" >
      <div class="containerr">
            
         <div class="logos__type">
            <div class="header__logo">
               <a class="sdelai" href="/">Сделай правильный выбор</a>
            </div>
         </div>     
      </div>    
     
      
   </header>
   <img class="logou" src="{% static 'images/kaznau.jpg' %}" >
   <div class="u__name">Казахский национальный аграрный университет</div>
   <div class="u__line"></div>
   <div class="u__nameoneoo">
      <div class="uodina">Пороговый балл
      <p class="perenos">50</p></div>

      <div class="udvab">Общежитие
      <p class="perenos">Да</p></div>
   </div>
   <div class="u__nameoneoo">
      <div class="uodina">Минимальный балл на грант
      <p class="perenos">60</p></div>

      <div class="udvab">Предметы на ЕНТ
      <p class="perenos">Биология География</p></div>
   </div>
   <div class="u__nameoneoo">
      <div class="uodina">Максимальный балл на грант
      <p class="perenos">113</p></div>

      <div class="udvab">Академическая степень
      <p class="perenos">Бакалавриат</p></div>
   </div>
   <div class="u__nameoneoo">
      <div class="uodina">Средний балл на грант
      <p class="perenos">65</p></div>
      <div class="udvab">Категория
      <p class="perenos">Национальный</p></div>
   </div>
   <div class="u__nameoneooo">
      <div class="uodina">Количество грантов
      <p class="perenos">188</p></div>
      <div class="udvab">Количество обучающихся
      <p class="perenos">6700</p></div>
   </div>
   <div class="u__center">
      <div class="u__centeraa">B079 Лесное хозяйство</div>
      <div class="u__centerb">Вся информация несёт информативный характер!</div>
   </div>
   <div class="niza">      
      <a href="http://www.kaznau.kz" class="hyper">kaznau.kz</a>

   
   </div>
   

   <footer class="u__foot">
      <div class="comu">
      <div class="lin"></div>
      <div class="fon"><p class="fonp">Все права защищены.</p> <p class="fonp">Best Choise - информационно-справочный портал для абитуриентов.</p><p class="fonp">Обратная связь: BestChoiseKZ@mail.ru</p> <p class="fonp">©2023 BC</p> </div>
      <img class="logot" src="{% static 'images/logotype.png' %}" >
      <div class="endlogo">Сделай правильный выбор</div>
   </div>
   </footer>