<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/kaznu.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
    <title>Гранты</title>
</head>
<body class="bod">
   <div class="ssylki__agaiiiii">
      <a href="/kaznu_first_one/" class="ssylkaw">B029 Аудиовизуальные средства и медиа производство</a>
      <a href="/kaznu_first_two/" class="ssylkaw">B031 Мода, дизайн</a>
      <a href="/kaznu_first_three/" class="ssylkaw">B032 Философия и этика</a>
      <a href="/kaznu_first_four/" class="ssylkaw">B033 Религия и теология</a>
      <a href="/kaznu_first_five/" class="ssylkaw">B035 Тюркология и востоковедение</a>
      <a href="/kaznu_first_six/" class="ssylkaw">B036 Переводческое дело</a>
      <a href="/kaznu_first_seven/" class="ssylkaw">B037 Филология</a>
      <a href="/kaznu_first_eight/" class="ssylkaw">B039 Культурология</a>
      <a href="/kaznu_first_nine/" class="ssylkaw">B040 Политология</a>
      <a href="/kaznu_first_ten/" class="ssylkaw">B042 Журналистика и репортерское дело</a>
      <a href="/kaznu_first_eleven/" class="ssylkaw">B043 Библиотечное дело, обработка информации и архивное дело</a>
      <a href="/kaznu_first_twelve/" class="ssylkaw">B044 Менеджмент и управление</a>
      <a href="/kaznu_first_thirteen/" class="ssylkaw">B046 Финансы, экономика, банковское и страховое дело</a>
      <a href="/kaznu_first_fourteen/" class="ssylkaw">B047 Маркетинг и рекламаB047 Маркетинг и реклама</a>
      <a href="/kaznu_first_fifteen/" class="ssylkaw">B049 Право</a>
      <a href="/kaznu_first_sixteen/" class="ssylkaw">B050 Биологические и смежные науки</a>
      <a href="/kaznu_first_seventeen/" class="ssylkaw">B051 Окружающая среда</a>
      <a href="/kaznu_first_eighteen/" class="ssylkaw">B052 Наука о земле</a>
      <a href="/kaznu_first_nineteen/" class="ssylkaw">B053 Химия</a>
      <a href="/kaznu_first_twenty/" class="ssylkaw">B054 Физика</a>
      <a href="/kaznu_first_twentyone/" class="ssylkaw">B055 Математика и статистика</a>
      <a href="/kaznu_first_twentytwo/" class="ssylkaw">B057 Информационные технологии</a>
      <a href="/kaznu_first_twentythree/" class="ssylkaw">B058 Информационная безопасность</a>
      <a href="/kaznu_first_twentyfour/" class="ssylkaw">B059 Коммуникации и коммуникационные технологии</a>
      <a href="/kaznu_first_twentyfive/" class="ssylkaw">B060 Химическая инженерия и процессы</a>
      <a href="/kaznu_first_twentysix/" class="ssylkaw">B061 Материаловедение и технологии</a>
      <a href="/kaznu_first_twentyseven/" class="ssylkaw">B062 Электротехника и энергетика</a>
      <a href="/kaznu_first_twentyeight/" class="ssylkaw">B063 Электротехника и автоматизация</a>
      <a href="/kaznu_first_twentynine/" class="ssylkaw">B067 Воздушный транспорт и технологии</a>
      <a href="/kaznu_first_thirty/" class="ssylkaw">B068 Производство продуктов питания</a>
      <a href="/kaznu_first_thirtyone/" class="ssylkaw">B072 Технология фармацевтического производства</a>
      <a href="/kaznu_first_thirtytwo/" class="ssylkaw">B075 Кадастр и землеустройство</a>
      <a href="/kaznu_first_thirtythree/" class="ssylkaw">B076 Стандартизация, сертификация и метрология (по отраслям)</a>
      <a href="/kaznu_first_thirtyfour/" class="ssylkaw">B090 Социальная работа</a>
      <a href="/kaznu_first_thirtyfive/" class="ssylkaw">B091 Туризм</a>
      <a href="/kaznu_first_thirtysix/" class="ssylkaw">B093 Ресторанное дело и гостиничный бизнес</a>
      <a href="/kaznu_first_thirtyseven/" class="ssylkaw">B095 Транспортные услуги</a>
      <a href="/kaznu_first_thirtyeight/" class="ssylkaw">B140 Международные отношения и дипломатия</a>

   </div> 
   <header class="headerrr">
      
      <img class="odinn" src="{% static 'images/logotype.png' %}" >
      <div class="containerr">
            
         <div class="logos__type">
            <div class="header__logo">
               <a class="sdelai" href="/">Сделай правильный выбор</a>
            </div>
         </div>     
      </div>    
     
      
   </header>
   <div class="opacity__aga">   
      <img class="logou" src="images/alit.jpg" >
      <div class="u__name">Академия Гражданской Авиации</div>
      <div class="u__line"></div>
      <div class="u__nameone">
         <div class="uodin">У Академии есть новые тренажеры “Tecnam” для визуальных полетов</div>

         <div class="udva">Есть военная кафедра</div>
      </div>
      <div class="u__nameone">
         <div class="uodin">Тренажер FNPT-II для тренировки инструментальных полетов</div>
         <div class="udva">Тип ВУЗа: Академия</div>
      </div>
      <div class="u__nameoneo">
         <div class="uodin">На аэродроме поселка Боралдай открыт центр по обслуживанию 10-ти самолетов “Tecnam”</div>
         <div class="udva">Есть общежитие</div>
      </div>
      <div class="u__center">
         <div class="u__centera">Единственное учебное заведение в Казахстане и Центральной Азии которое подготавливает инженеров гражданской авиации</div>
         <div class="u__centerb">Вся информация несёт информативный характер!</div>
      </div>
      <div class="niz">      
         <a href="http://www.agakaz.kz" class="hyper">Agakaz.kz</a>
         <a href="aga_first.html" class="grants">Гранты 2022</a>
   
      </div>
   </div>

   <footer class="u__footo">
      <div class="comu">
      <div class="lin"></div>
      <div class="fon"><p class="fonp">Все права защищены.</p> <p class="fonp">Best Choise - информационно-справочный портал для абитуриентов.</p><p class="fonp">Обратная связь: BestChoiseKZ@mail.ru</p> <p class="fonp">©2023 BC</p> </div>
      <img class="logot" src="{% static 'images/logotype.png' %}" >
      <div class="endlogo">Сделай правильный выбор</div>
      </div>
   </footer>