body{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	line-height: 1.6;
	color: #333;
}

.bod{
	overflow-y: hidden;
}

.bodd{
	overflow-y: hidden;
	background-color:#E6E6E6;
}

.register{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	line-height: 1.6;



}

body, html{
	overflow-x: hidden;


	width: 100vw;


}

h1,h2,h3,h4,h5,h6 {
	margin:0;

}

*,
*:before,
*:after {
	box-sizing: border-box;
}


.but{
	padding: 20px 100px;
	border-radius: 80px;
	border: 1px solid #BEA67C;
	font-size: 30px;
	font-weight: 700;
	background-color: #BEA67C;
}



/* Font */

.container{
	max-width: 1600px;
	width: 100%;
	margin:0 auto;
	display: flex;
}

.containerr{
	max-width: 1600px;
	width: 100%;
	margin:0 auto;
}

.containerrr{
	max-width: 1600px;
	width: 100%;
	margin:0 auto;
	display: flex;
}


.container:after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: #fff;
	position: absolute;
	top:100%;
	left: 0;
	z-index: 1;
	margin-top: 50px;
}

.intro{
	margin: 0;
	width: 100%;
	height: 100%;
	background:
	url("/static/images/second.jpg") center no-repeat;
	background-size: cover;
	box-shadow: inset 800px 800px 250px 250px rgba(0, 0, 0, 0.5);

}

.introtwo{
	margin: 0;
	width: 100%;
	height: 100%;
	background:
	url("/static/images/second.jpg") center no-repeat;
	background-size: cover;
	box-shadow: inset 800px 800px 250px 250px rgba(0, 0, 0, 0.5);
	opacity: 0.3;

}

/* Header */
.header{
	width: 100%;
	position: absolute;
	padding-top: 50px;
	top :0;
	left: 0;
	right: 0;
	z-index: 100;


}

.headerr{
	width: 100%;
	position: absolute;
	padding-top: 30px;
	padding-bottom: 20px;
	top :0;
	left: 0;
	right: 0;
	z-index: 1000;
	background:
	url("/static/images/second.jpg") center no-repeat;
	background-size: cover;
	box-shadow: inset 800px 800px 250px 250px rgba(0, 0, 0, 0.5);

}

.ssylki__aga{
	position: absolute;
	z-index: 1400;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width:1200px;
	height: 700px;
	background-color: #fff;
	top: 40px;
	left: 120px;
	border-radius: 30px;
	border: 1px solid #333;
}

.ssylkaa{
	width:1100px;
	text-decoration: none;
	color:#333;
	padding: 50px 10px;
	background-color: #D9D9D9;
	border-radius: 90px;
}

.ssylkaa:hover{
	color: #E7BC4F;
}

.ssylkab{
	width:1100px;
	text-decoration: none;
	color:#333;
	padding: 50px 10px;
	background-color: #D9D9D9;
	border-radius: 90px;
}

.ssylkab:hover{
	color: #E7BC4F;
}

.ssylkac{
	width:1100px;
	text-decoration: none;
	color:#333;
	padding: 50px 10px;
	background-color: #D9D9D9;
	border-radius: 90px;
}

.ssylkac:hover{
	color: #E7BC4F;
}

.headerrr{
	width: 100%;
	position: absolute;
	padding-top: 30px;
	padding-bottom: 30px;
	top :0;
	left: 0;
	right: 0;
	z-index: 1000;
	background:
	url("/static/images/second.jpg") center no-repeat;
	background-size: cover;
	box-shadow: inset 800px 800px 250px 250px rgba(0, 0, 0, 0.5);
	opacity: 0.3;
}

.opacity__aga{
	opacity: 0.3;
}

.headertwo{
	width: 100%;
	position: absolute;
	padding-top: 50px;
	top :0;
	left: 0;
	right: 0;
	z-index: 1000;
	opacity: 0.3;


}

.logos__type{
	display:flex;
	justify-content: space-between;
}

.header__logo{
	font-size: 17px;
	font-weight:700;
	color: #E7BC4F;
	text-transform: uppercase;
	width:200px;
	align-items: center;
	text-align: center;
	margin-left: 180px;
	margin-top: -17px;
	line-height: 1.3;


}

.sdelai{
	text-decoration: none;
	color:#E7BC4F;
}

.poisk{
	padding: 0 15px;
	margin-left:300px;
	font-size: 16px;
	border-radius: 30px;
	color: #333;
	background-color: #fff;
	border:1px solid #333;
	width: 600px;
}

.logos{
	width:100px;
	top:0;
	display: flex;
	justify-content: space-between;
	margin-left: 410px;
	margin-top: -48px;
	position: relative;
}

.lupa{
	width:30px;
	height: 30px;



}

.man{
	width: 30px;
	height: 30px;
	margin-left: 730px;


}

/* Nav */

.odin{
	height: 85px;
	width: 111px;
	position: absolute;
	margin: 25px 0 0 70px;
}

.odinn{
	height: 85px;
	width: 111px;
	position: absolute;
	margin-left: 70px;
	margin-top: -25px;
}

.dva{
	position: absolute;
	width: 783px;
	height: 522px;
	margin-top: 227px;
	margin-left: -20px;
}

.nav{
	font-size: 14px;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;

}

.nav__click1{
	font-weight: bold;
	text-align: center;
	text-decoration:none ;
	display:inline-block;
	margin: 0 -70px;
	padding: 5px 300px 0 50px;
	border-radius: 90px;
	background: #fff;
	color: #333;
	margin-right: 100px;

}

.nav__click2{
	font-weight: bold;
	text-decoration:none ;
	display: block;
	margin: 0 90px;
	padding: 5px 50px 5px 10px;
	border-radius: 90px;
	background: #fff;
	color: #333;
	margin-right: 30px;

}

.nav__click2:hover{
	color:#E7BC4F;
}




.txt1{
	text-align: center;
	align-items: center;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;

}

.txt{
	width: 700px;
	height: 500px;
	color:#fff;
	margin-left: 650px;
	padding-top: 150px;
	line-height: 1.7;
}


.txt3{
	text-align: center;
	align-items: center;
	font-size: 40px;
	font-weight: 900;
	text-transform: uppercase;
	margin-left: 150px;
	padding: 10px 100px;
	border-radius: 80px;
	background: #E7BC4F;
	color:#333;
	text-decoration: none;


}



.txt3:hover {
	color:#fff;
}

.almaty{
	display: flex;
	font-size: 40px;
	font-weight: 700;
	position: absolute;
	margin-top: 60px;
	margin-left: 150px;

}


.ramka{
	position: absolute;
	margin:150px 150px;
	max-width: 1200px;
	width:100%;
	display: flex;
	align-items: center;
	line-height: 3;
	padding: 0;
	border:1px solid #333;
	border-radius: 50px;
}


.names{
	text-decoration: none;
	font-size: 16px;
	color:#333;
	margin-left: 20px;

}



.names:hover{
	color:#E7BC4F;
}

.names:after{
	content: "";
	display: block;
	width: 1200px;
	height: 1px;
	background-color: #333;
	top:100%;
	left: 0;
	z-index: 1;
	margin-left: -41px;

}

.namesonly{
	text-decoration: none;
	font-size: 16px;
	color:#333;
	margin-left: 20px;

}

.namesonly	:hover{
	color:#E7BC4F;
}


.nameso{
	margin-top: -30px;
}

.nameto{
	margin-bottom:-30px;
}



.ulu{
	list-style: none;

}

.com{
	display: flex;
	justify-content:space-between;
	margin-top: 3400px;
	left:0;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	width:100vw;
	height: 150px;
}

.logou{
	position: absolute;
	margin-left: 515px;
	margin-top: 160px;


}

.u__name{
	margin-top: 100px;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	color:#E7BC4F;
}

.u__line{
	display: block;
	border-top:1px solid #929292;
	opacity: 0.2;
}

.u__nameone{
	display: flex;
	width:1300px;
	margin:0 auto;
	font-size: 16px;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 30px;
}


.u__nameoneo{
	display: flex;
	width:1300px;
	margin:0 auto;
	font-size: 16px;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 20px;
}



.u__nameoneooo{
	display: flex;
	width:1300px;
	margin:0 auto;
	font-size: 16px;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 20px;
}

.u__nameoneoo{
	display: flex;
	width:1300px;
	margin:0 auto;
	font-size: 16px;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 20px;
}

.perenos{
	margin:0;
	color:#333;
	font-weight: 700;
}

.uodin{
	width: 300px;
	border-bottom: 1px solid #929292;
	padding-bottom: 10px;
}

.uodina{
	width: 300px;
	border-bottom: 1px solid #929292;
	padding-bottom: 10px;
	color:#929292;
}


.udva{
	width: 300px;
	border-bottom: 1px solid #929292;
	padding-bottom: 10px;

}

.udvab{
	width: 300px;
	border-bottom: 1px solid #929292;
	padding-bottom: 10px;
	color:#929292;

}


.u__center{
	display:grid;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.u__centera{
	font-size: 16px;
	max-width:400px;
	margin-bottom: 50px;
}

.u__centeraa{
	font-size: 20px;
	font-weight: 700;
	max-width:400px;
	margin-bottom: 50px;
}

.u__centerb{
	font-size: 12px;
	color:red;
	width:400px;
	margin-bottom: 50px;
	font-weight: bold;
}

.niz{
	width:100vw;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	margin-top: -150px;
}

.niza{
	width:100vw;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	margin-top: -120px;
}

.hyper{
	font-size: 16px;
	color:#333;
	margin-left: 150px;
}

.grants{
	font-size: 30px;
	font-weight: 700;
	text-decoration: none;
	color:#333;
	margin-right: 80px;
	padding:5px 50px;
	background-color: #fff;
	border: 3px solid #333;
	border-radius: 50px;
}



.u__foot{
	display: block;
	width:100%;
	height: 150px;
	margin-top: 50px;

}

.u__foots{
	display: block;
	width:100%;
	height: 150px;
	margin-top: 3400px;

}

.u__footo{
	display: block;
	width:100%;
	height: 150px;
	margin-top: 50px;
	opacity: 0.3;

}

.comu{
	display: flex;
	left:0;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	width:100vw;
	height: 150px;
}


.lin{
	content: "";
	display: block;
	width: 120px;
	height: 0;
	background-color: #333;
	top:100%;
	left: 0;
	z-index: 1;
	border: 2px solid #E7BC4F;
	transform: rotate(90deg);
	margin-top: 70px;
	margin-left: 380px;
}

.fon{
	color:#fff;
	position: absolute;
	font-size: 16px;
	align-items: center;
	text-align: center;
	padding: 15px 0 0 600px;
	line-height: 2;
}

.fonp{
	margin:0;
}

.logot{
	height: 85px;
	width: 111px;
	position: absolute;
	margin-top: 30px;
	margin-left: 80px;

}

.endlogo{
	font-size: 17px;
	font-weight:700;
	color: #E7BC4F;
	text-transform: uppercase;
	width:200px;
	align-items: center;
	text-align: center;
	line-height: 1.3;
	position: absolute;
	margin-top: 40px;
	margin-left: 180px;
}

.test_otstup{
	display: block;
	font-size: 30px;
	margin-bottom: 100px;
}

.test_name{
	text-align: center;
	font-weight: bold;
}

.test_ramka{
	margin-top:50px;
	margin-left: 50px;
	display: flex;
	max-width: 1300px;
	background-color: #fff;
	border-radius: 30px;
}

.test_img{
	margin-right: 50px;
}

.test_line{
	display: block;
	border-left: 1px solid #929292;

}

.test_spisok{
	margin-left: 50px;
}

.test_head{
	text-decoration: none;
	color: #001895;
	font-size: 26px;

}

.test_head:hover {
	color: #E7BC4F;
}

.test_header{
	font-size: 20px;
}

.ulu li.hide{
	display: none;
}