<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/uib.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
    <title>Гранты</title>
</head>
<body class="bod">
   <div class="ssylki__agaii">
      <a href="/uib_first_one/" class="ssylkaw">B040 Политология</a>
      <a href="/uib_first_two/" class="ssylkaw">B042 Журналистика и репортерское дело</a>
      <a href="/uib_first_three/" class="ssylkaw">B044 Менеджмент и управление</a>
      <a href="/uib_first_four/" class="ssylkaw">B046 Финансы, экономика, банковское и страховое дело</a>
      <a href="/uib_first_five/" class="ssylkaw">B047 Маркетинг и реклама</a>
      <a href="/uib_first_six/" class="ssylkaw">B057 Информационные технологии</a>
      <a href="/uib_first_seven/" class="ssylkaw">B091 Туризм</a>
      <a href="/uib_first_eight/" class="ssylkaw">B093 Ресторанное дело и гостиничный бизнес</a>
      <a href="/uib_first_nine/" class="ssylkaw">B095 Транспортные услуги</a>
   </div> 
   <header class="headerrr">
      
      <img class="odinn" src="{% static 'images/logotype.png' %}" >
      <div class="containerr">
            
         <div class="logos__type">
            <div class="header__logo">
               <a class="sdelai" href="/">Сделай правильный выбор</a>
            </div>
         </div>     
      </div>    
     
      
   </header>
   <div class="opacity__aga">   
      <img class="logou" src="images/alit.jpg" >
      <div class="u__name">Академия Гражданской Авиации</div>
      <div class="u__line"></div>
      <div class="u__nameone">
         <div class="uodin">У Академии есть новые тренажеры “Tecnam” для визуальных полетов</div>

         <div class="udva">Есть военная кафедра</div>
      </div>
      <div class="u__nameone">
         <div class="uodin">Тренажер FNPT-II для тренировки инструментальных полетов</div>
         <div class="udva">Тип ВУЗа: Академия</div>
      </div>
      <div class="u__nameoneo">
         <div class="uodin">На аэродроме поселка Боралдай открыт центр по обслуживанию 10-ти самолетов “Tecnam”</div>
         <div class="udva">Есть общежитие</div>
      </div>
      <div class="u__center">
         <div class="u__centera">Единственное учебное заведение в Казахстане и Центральной Азии которое подготавливает инженеров гражданской авиации</div>
         <div class="u__centerb">Вся информация несёт информативный характер!</div>
      </div>
      <div class="niz">      
         <a href="http://www.agakaz.kz" class="hyper">Agakaz.kz</a>
         <a href="aga_first.html" class="grants">Гранты 2022</a>
   
      </div>
   </div>

   <footer class="u__footo">
      <div class="comu">
      <div class="lin"></div>
      <div class="fon"><p class="fonp">Все права защищены.</p> <p class="fonp">Best Choise - информационно-справочный портал для абитуриентов.</p><p class="fonp">Обратная связь: BestChoiseKZ@mail.ru</p> <p class="fonp">©2023 BC</p> </div>
      <img class="logot" src="{% static 'images/logotype.png' %}" >
      <div class="endlogo">Сделай правильный выбор</div>
      </div>
   </footer>