<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/aaesor.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
    <title>AAES</title>
</head>
<body class="bod"> 
   <header class="headerr">
      
      <img class="odinn" src="{% static 'images/logotype.png' %}" >
      <div class="containerr">
            
         <div class="logos__type">
            <div class="header__logo">
               <a class="sdelai" href="/">Сделай правильный выбор</a>
            </div>
         </div>     
      </div>    
     
      
   </header>
   <img class="logou" src="{% static 'images/aaes.jpg' %}" >
   <div class="u__name">Алматинская академия экономики и статистики</div>
   <div class="u__line"></div>
   <div class="u__nameone">
      <div class="uodin">Высшее учебное заведение подготавливает специалистов в области финансов, учет и аудита, информационных систем и экономики</div>

      <div class="udva">Тип ВУЗа: Академия</div>
   </div>
   
   <div class="u__nameoneo">
      <div class="uodin">Сотрудничает с более 30-ти международными организациями</div>
      <div class="udva">Есть общежитие</div>
   </div>
   <div class="u__center">
      
      <div class="u__centerbb">Вся информация несёт информативный характер!</div>
   </div>
   <div class="niz">      
      <a href="http://www.aesa.kz" class="hyper">aesa.kz</a>
      <a href="/aaes_first_one/" class="grants">Гранты 2022</a>
   
   </div>
   

   <footer class="u__foot">
      <div class="comu">
      <div class="lin"></div>
      <div class="fon"><p class="fonp">Все права защищены.</p> <p class="fonp">Best Choise - информационно-справочный портал для абитуриентов.</p><p class="fonp">Обратная связь: BestChoiseKZ@mail.ru</p> <p class="fonp">©2023 BC</p> </div>
      <img class="logot" src="{% static 'images/logotype.png' %}" >
      <div class="endlogo">Сделай правильный выбор</div>
      </div>
   </footer>