<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/kaznpu.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
    <title>Гранты</title>
</head>
<body class="bod">
   <div class="ssylki__agaiiia">
      <a href="/kaznpu_first_one/" class="ssylkah">B001 Педагогика и психология</a>
      <a href="/kaznpu_first_two/" class="ssylkah">B002 Дошкольное обучение и воспитание</a>
      <a href="/kaznpu_first_three/" class="ssylkah">B003 Педагогика и методика начального обучения</a>
      <a href="/kaznpu_first_four/" class="ssylkah">B005 Подготовка учителей физической культуры</a>
      <a href="/kaznpu_first_five/" class="ssylkah">B010 Подготовка учителей физики</a>
      <a href="/kaznpu_first_six/" class="ssylkah">B011 Подготовка учителей информатики</a>
      <a href="/kaznpu_first_seven/" class="ssylkah">B012 Подготовка учителей химии</a>
      <a href="/kaznpu_first_eight/" class="ssylkah">B013 Подготовка учителей биологии</a>
      <a href="/kaznpu_first_nine/" class="ssylkah">B014 Подготовка учителей географии</a>
      <a href="/kaznpu_first_ten/" class="ssylkah">B015 Подготовка учителей по гуманитарным предметам</a>
      <a href="/kaznpu_first_eleven/" class="ssylkah">B016 Подготовка учителей казахского языка и литературы</a>
      <a href="/kaznpu_first_twelve/" class="ssylkah">B018 Подготовка учителей иностранного языка</a>
      <a href="/kaznpu_first_thirteen/" class="ssylkah">B020 Специальная педагогика</a>
      <a href="/kaznpu_first_fourteen/" class="ssylkah">B030 Изобразительное искусство</a>
      <a href="/kaznpu_first_fifteen/" class="ssylkah">B031 Мода, дизайн</a>
      <a href="/kaznpu_first_sixteen/" class="ssylkah">B036 Переводческое дело</a>
      <a href="/kaznpu_first_seventeen/" class="ssylkah">B040 Политология</a>
      <a href="/kaznpu_first_eighteen/" class="ssylkah">B050 Биологические и смежные науки</a>
      <a href="/kaznpu_first_nineteen/" class="ssylkah">B051 Окружающая среда</a>
      <a href="/kaznpu_first_twenty/" class="ssylkah">B052 Наука о земле</a>
      <a href="/kaznpu_first_twentyone/" class="ssylkah">B053 Химия</a>
      <a href="/kaznpu_first_twentytwo/" class="ssylkah">B054 Физика</a>
      <a href="/kaznpu_first_twentythree/" class="ssylkah">B055 Математика и статистика</a>
   </div> 
   <header class="headerrr">
      
      <img class="odinn" src="{% static 'images/logotype.png' %}" >
      <div class="containerr">
            
         <div class="logos__type">
            <div class="header__logo">
               <a class="sdelai" href="/">Сделай правильный выбор</a>
            </div>
         </div>     
      </div>    
     
      
   </header>
   <div class="opacity__aga">   
      <img class="logou" src="images/alit.jpg" >
      <div class="u__name">Академия Гражданской Авиации</div>
      <div class="u__line"></div>
      <div class="u__nameone">
         <div class="uodin">У Академии есть новые тренажеры “Tecnam” для визуальных полетов</div>

         <div class="udva">Есть военная кафедра</div>
      </div>
      <div class="u__nameone">
         <div class="uodin">Тренажер FNPT-II для тренировки инструментальных полетов</div>
         <div class="udva">Тип ВУЗа: Академия</div>
      </div>
      <div class="u__nameoneo">
         <div class="uodin">На аэродроме поселка Боралдай открыт центр по обслуживанию 10-ти самолетов “Tecnam”</div>
         <div class="udva">Есть общежитие</div>
      </div>
      <div class="u__center">
         <div class="u__centera">Единственное учебное заведение в Казахстане и Центральной Азии которое подготавливает инженеров гражданской авиации</div>
         <div class="u__centerb">Вся информация несёт информативный характер!</div>
      </div>
      <div class="niz">      
         <a href="http://www.agakaz.kz" class="hyper">Agakaz.kz</a>
         <a href="aga_first.html" class="grants">Гранты 2022</a>
   
      </div>
   </div>

   <footer class="u__footo">
      <div class="comu">
      <div class="lin"></div>
      <div class="fon"><p class="fonp">Все права защищены.</p> <p class="fonp">Best Choise - информационно-справочный портал для абитуриентов.</p><p class="fonp">Обратная связь: BestChoiseKZ@mail.ru</p> <p class="fonp">©2023 BC</p> </div>
      <img class="logot" src="{% static 'images/logotype.png' %}" >
      <div class="endlogo">Сделай правильный выбор</div>
      </div>
   </footer>