<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
    <title>Расширенный поиск</title>
</head>
<body>
    {% include 'headerfirst.html' %}
    <div class="container">
        <h1 class="my-31">Расширенный поиск</h1>
        <form class="search-form">
            <fieldset>
                <legend>Заполните данные</legend>
                <div class="search-form-content">
                    {% if majors|length == 0 and initial == False %}
                        <p class="danger">По данному запросу гранты не найдены!</p>
                    {% endif %}
                     <div>
                        <label>Выберите университет</label>
                        <select name="university" >
                            <option value="" selected>-</option>
                            {% for university in universitys %}
                                <option class="selected-size" value="{{ university.id }}" {% if university.id|slugify == form.university %}selected="selected"{% endif %}>{{ university.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label>Выберите первый предмет</label>
                        <select name="subject1" >
                            <option value="" selected>-</option>
                            {% for subject in subjects %}
                                <option class="selected-size" value="{{ subject.id }}" {% if subject.id|slugify == form.subject1 %}selected="selected"{% endif %}>{{ subject.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label>Выберите второй предмет</label>
                        <select name="subject2" >
                            <option value="" selected>-</option>
                            {% for subject in subjects %}
                                <option class="selected-size" value="{{ subject.id }}" {% if subject.id|slugify == form.subject2 %}selected="selected"{% endif %}>{{ subject.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label>Ваше количество баллов на ЕНТ</label>
                        <input class="selected-size" type="number" min="50" placeholder="78" name="number" value="{{ form.number }}">
                        <button type="submit" class="but btn-3">Поиск</button>
                    </div>
                </div>
            </fieldset>
        </form>
        {% if majors %}
            <table id="majors" class="my-30 majors-table">
                <caption class="my-30">Список специальностей</caption>
                    <thead>
                        <tr>
                            <th>Университет</th>
                            <th>Специальность</th>
                            <th>Мин балл</th>
                            <th>Макс балл</th>
                            <th>Срд балл</th>
                            <th>Клв гранты</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for major in majors %}
                            <tr>
                                <td><a href="/university/{{ major.university.url }}">{{ major.university.name }}</a></td>
                                <td><a href="/university/{{ major.university.url }}/majors/{{ major.pk }}">{{ major.name }}</a></td>
                                <td>{{ major.minimum_grant_ball }}</td>
                                <td>{{ major.maximum_ball }}</td>
                                <td>{{ major.avg_ball }}</td>
                                <td>{{ major.amount_of_grants }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>
        {% endif %}
    </div>
    {% include 'footer.html' %}
{% if majors %}
    <script>document.getElementById("majors").scrollIntoView({behavior:'smooth'});</script>
{% endif %}
</body>
</html>