{% load static %}
<footer>
      <div class="container">
      <div class="row">
          <img width="140" src="{% static 'images/logotype.png' %}">
          <a href="/"><h2 class="title">Сделай<br> правильный<br> выбор</h2></a>
          <p class="description">
                Все права защищены.<br>
                Best Choise - информационно-справочный портал для абитуриентов.<br>
                Обратная связь: BestChoiseKZ@mail.ru<br>
                ©2023 BC<br>
          </p>
       </div>
      </div>
</footer>