<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
    <title>ВС</title>
</head>
<body>
    {% include 'header.html' %}


   <div class="intro">
      <div class="container row">
         <img src="{% static 'images/first.png' %}">
         <div>
            <ul class="intro-text">
                <li class="li-text">Мы поможем тебе сделать правильный выбор </li>
                <li class="li-text">Здесь ты сможешь пройти тест и узнать какая профессия подойдет тебе больше всего</li>
                <li class="li-text">Узнаешь самые важные факты всех ВУЗов Алматы</li>
           </ul>
            <a href="/1" class="btn-3"><h2>Тест</h2></a>
         </div>
      </div>
   </div>


    <div class="my-30">
   <div class="container">
       <input class="university-search" type="text" placeholder="Поиск" id="ulu">
       <h2>ВУЗы Алматы</h2>

       <ul class="university-list my-30 ulu">
           {% for university in universitys %}
               <li><a href="/university/{{ university.url }}" class="list-a">{{ university.name }} ({{university.abb}})</a></li>
           {% endfor %}
     </ul>
   </div>
        </div>
    {% include 'footer.html' %}
   <script src="{% static 'js/search.js' %}"></script>
</body>
</html>
