<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
    <title>ВС</title>
</head>
<body>
    {% include 'headeropacity.html' %}
    {% if majors %}
    <div class="lists-area container">
    {% for group in majors %}
        <h3 class="my-30 list-h3">{{ group.0 }}</h3>
        {% for major in group.1 %}
        <p class="lists"><a href="/university/{{ university.url }}/majors/{{ major.pk }}" class="lists-a">{{ major.code }} {{ major.name }}</a></p>
        {% endfor %}
    {% endfor %}
    </div>
        {% else %}
            <div class="container">
                <h1>У ДАННОГО УНИВЕРСИТЕТА НЕТ ГРАНТОВ!</h1>
            </div>
    {% endif %}
    {% include 'footeropacity.html' %}
</body>
</html>