<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
    <title>ВС</title>
</head>
<body>
    {% include 'headeropacity.html' %}
    <div class="lists-area">
    {% for major in majors %}
            <p class="lists"><a href="/university/{{ university.url }}/majors/{{ major.pk }}" class="lists-a">{{ major.code }} {{ major.name }}</a></p>
    {% endfor %}
    </div>
    {% include 'footeropacity.html' %}
</body>
</html>