<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вопросы</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'headerfirst.html' %}
    <div class="container">
        <h2 class="my-30">{{quiz.name}}</h2>
        <form method="post">
            {% csrf_token %}
            {% for question in questions %}
                <div class="card test-card card-body row my-30">
                    <h5 class="form_name">{{question.name}}</h5>
                    <select class="form_select" name="{{question.id}}">
                        <option class="form_select" value="YES">Да</option>
                        <option class="form_select" value="NO" selected>Нет</option>
                    </select>
                </div>
            {% endfor %}
            <button class="btn end-test" type="submit">Завершить</button>
        </form>
    </div>
    {% include 'footer.html' %}

</body>
</html>