<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap" rel="stylesheet">
    <title>Тесты</title>
</head>

<body class="bodd">
    {% include 'headerfirst.html' %}
    <div class="container ">
    <h2 class="my-30 margin">Тесты</h2>
    {% for quiz in tests %}
    <a class="card row my-30 margin" href="/quizez/{{quiz.pk}}">
        <img src="{{ quiz.image.url }}" alt="">
        <div class="card-body">
            <h3 class="card-h">Тест - {{quiz.name}}</h3>
            <p class="card-p">{{quiz.description}}</p>
        </div>
    </a>
    {% endfor %}
    </div>
    {% include 'footer.html' %}

</body>
</html>